@page
@{
    ViewData["Title"] = "أمر توريد";
}

<style>
   

    #content, #content * {
        direction: rtl !important;
        text-align: right ;
        font-size:19px;
    }

    .print-area {
        width: 210mm;
        min-height: 297mm;
        background: #fff;
        padding: 10mm;
        margin: auto;
        border: 1px solid #000;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        font-size: 14px;
    }

    td, th {
        border: 1px solid #000;
        padding: 6px;
        vertical-align: middle;
    }

    .no-border td {
        border: none;
    }

    .center {
        text-align: center !important;
    }

    .bold {
        font-weight: bold;
    }

    .title {
        font-size: 20px;
        text-decoration: underline;
        margin: 5px 0;
    }

    .section {
        margin-top: 10px;
        font-size: 14px;
        line-height: 1.9;
    }

    .signature td {
        height: 70px;
        text-align: center;
        vertical-align: bottom;
        font-weight: bold;
    }

    @@media print {
        .no-print {
            display: none;
        }
    }

    ol {
        list-style: none !important;
        padding-right: 0;
    }

        ol li::before {
            content: "• ";
            float: right;
            margin-left: 6px;
        }
        /**/
   

</style>
<div class="row">
    <div class="col-md-6">
        <h3 style="font-size: 1.75rem !important;text-decoration:none !important;text-align:right !important;margin-bottom:20px !important;">أمر توريد</h3>
    </div>
    <div class="col-md-6">
        <div class="no-print text-center mb-3">
            <button class="btn btn-danger" v-on:click="handler.downloadPDF">
                🖨️     تحميل PDF
            </button>
        </div>
    </div>
</div>
<div id="app">

  

    <div id="content" class="print-area">

        <!-- ===== Header ===== -->
        <div class="row">
            <div class="col-md-4">
                <span style="color:#000;font-weight:bold;">جامعة الزقازيق</span>
                <br />
                <span style="color:#000;font-weight:bold;">الإدارة العامة للمشتريات والمخازن</span>
            </div>
            <div class="col-md-4 center" >
                
                    رقم: {{ state.orderNumber }}<br />
                    التاريخ: {{ state.orderDate }}
                
               
            </div>
           
            <div class="col-md-4"><img src="~/adminlte/img/logo (1).png" height="70" style="float:left;"/></div>
        </div>
       

        <!-- ===== السادة / العنوان ===== -->
        <div class="section">
            <div class="bold">
                <span style="color:#000;font-weight:bold;text-decoration:underline;">
                    جامعة الزقازيق
                السادة / {{ state.vendor.name }} المحترمين
                </span>
            </div>
            <div>
                العنوان : {{ state.vendorAddress }}
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12 center">
                
                    <span>تحية طيبة وبعد ................</span>
             
            </div>
        </div>
        <!-- ===== نص تمهيدي رسمي ===== -->
        <div class="section">@* 
            إشارة إلى العرض المقدم منكم والمؤيد بالمستندات القانونية والفنية،
            وبعد الفحص والدراسة، فقد تقرر التعاقد معكم على توريد الأصناف الموضحة
            
            بالجدول التالي طبقًا للأسعار والكميات الموضحة: *@
            <span>
                رجاء سرعة توريد الاصناف التالية وفقاً للعرض المقدم من منكم:
            </span>
        </div>

        <!-- ===== جدول الأصناف ===== -->
        <table>
            <thead>
                <tr class="center bold">
                    <th>بند</th>
                    <th>الصنف</th>
                    <th>الكمية</th>
                    <th>سعر الوحدة</th>
                    <th>الإجمالي</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item,index) in state.items" :key="index">
                   
                    <td>{{ item.product.name }}</td>
                    <td class="center">{{ toArabicNumber(index + 1) }}</td>
                    <td class="center">{{ toArabicNumber(item.quantity) }}</td>
                    <td class="center">{{ toArabicNumber(item.unitPrice) }}</td>
                    <td class="center">{{ toArabicNumber(item.total) }}</td>

                </tr>
                <tr>
                    <td colspan="4">الجملة</td>
                    <td>{{toArabicNumber( state.subTotal) }}</td>
                </tr>
                <tr v-if="hasTax">
                    <td colspan="4">ضريبة القيمة المضافة 14%</td>
                    <td>{{ toArabicNumber(state.tax) }}</td>
                </tr>

                <tr v-else>
                    <td colspan="4">ضريبة القيمة المضافة</td>
                    <td>غير شامل</td>
                </tr>


                <tr>
                    <td colspan="4">
                        {{ state.tax > 0 ? 'اجمالي شامل الضريبة' : 'اجمالي غير شامل الضريبة' }}
                    </td>
                    <td>{{ toArabicNumber(state.totalAmount) }}</td>
                </tr>

            </tbody>
        </table>

        <!-- ===== الإجماليات ===== -->
       @*  <table style="width:60%; margin-top:10px;">
            <tr>
                <td>الإجمالي</td>
                <td>{{ state.subTotal }}</td>
            </tr>
            <tr>
                <td>ضريبة القيمة المضافة 14%</td>
                <td>{{ state.tax }}</td>
            </tr>
            <tr class="bold">
                <td>الإجمالي شامل الضريبة</td>
                <td>{{ state.totalAmount }}</td>
            </tr>
        </table> *@

        <div class="section bold">
            ووفقًا للعرض المقدم منكم والمقبول فنيًا بإجمالي مبلغ
            {{ toArabicNumber(state.totalAmount) }} جنيهًا مصريًا فقط لا غير
            ({{ totalAmountInWords }} فقط لا غير)
            <span v-if="hasTax">
                والأسعار شاملة ضريبة القيمة المضافة
            </span>
            <span v-else>
                والأسعار غير شاملة ضريبة القيمة المضافة
            </span>
        </div>




        <!-- ===== الشروط (ثابتة مثل الصورة) ===== -->
        <div class="section">
            <span class="bold">وذلك بالشروط التالية:</span>
            <ol>
                <li>{{ state.description }}</li>
            </ol>
        </div>
        <div class="row">
            <div class="col-md-12 center">
                <span style="color:#000;font-weight:bold;"> وتفضلوا بقبول فائق الاحترام والتقدير
            
                </span>
                </div>
        </div>
        <!-- ===== التوقيعات ===== -->
    @*     <table class="signature">
            <tr>
                <td>توقيع المورد</td>
                <td>يعتمد</td>
            </tr>
            <tr>
                <td></td>
                <td>أمين عام الجامعة</td>
            </tr>
        </table> *@
        <br />
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6 center">
                <span style="color:#000;font-weight:bold;">أمين عام الجامعة</span>

            </div>
        </div>
    </div>
</div>



@section scripts {
    <script src="~/FrontEnd/Pages/PurchaseOrders/PurchaseOrderPdf.cshtml.js"></script>
}

