@page
@{
    ViewData["Title"] = "تقرير جرد المخزن";
}
<h3 class="title"> تقرير جرد المخزن</h3>
<div id="app" v-cloak>
    <div class="row back">
        <div class="col-md-1">
            <label>المخزن</label>
           
        </div>
        <div class="col-md-5">
            <div ref="warehouseRef"></div>
            <label class="text-danger">{{ state.errors.warehouseId }}</label>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-12">
            <div class="grid-container">
                <div ref="mainGridRef"></div> <!-- سيملأه Grid باللغة العربية -->
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/FrontEnd/Pages/InventoryStocktaking/InventoryStocktaking.cshtml.js"></script>
}
