@page
@{
    ViewData["Title"] = "قائمة إذن المرتجع";
}

<div id="app" v-cloak>
    <div class="row">
        <div class="col-12">
            <div class="grid-container">
                <div ref="mainGridRef"></div>
            </div>
        </div>
    </div>

    <div class="modal fade" ref="mainModalRef" id="MainModal" aria-hidden="true" tabindex="-1" data-bs-focus="false" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ state.mainTitle }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="اغلاق"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" v-model="state.id" id="Id" name="Id" />
                    <form id="MainForm">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>البيانات الرئيسية</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="row mb-2">
                                            <div class="col-md-6">
                                                <label for="OrderDate">تاريخ الطلب</label>
                                                <input ref="orderDateRef" />
                                                <label class="text-danger">{{ state.errors.orderDate }}</label>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="Number">الرقم</label>
                                                <input ref="numberRef" v-model="state.number" readonly>
                                            </div>
                                        </div>
                                        <div class="row mb-2">
                                            <div class="col-md-4">
                                                <label for="EmployeeId">الموظف</label>
                                                <div ref="employeeIdRef"></div>
                                                <label class="text-danger">{{ state.errors.employeeId }}</label>
                                            </div>
                                            <div class="col-md-4">
                                                <label for="ProductId">المنتج</label>
                                                <div ref="productIdRef"></div>
                                                <label class="text-danger">{{ state.errors.productId }}</label>
                                            </div>
                                            <div class="col-md-4">
                                                <label for="ProductStatus">حالة المنتج</label>
                                                <div ref="productStatusRef"></div>
                                                <label class="text-danger">{{ state.errors.productStatus }}</label>
                                            </div>
                                        </div>
                                        <div class="row mb-2">
                                            <div class="col-md-6">
                                                <label>الكمية</label>
                                                <input type="number"
                                                       class="form-control"
                                                       min="1"
                                                       v-model.number="state.quantity" />
                                                <label class="text-danger">{{ state.errors.quantity }}</label>
                                            </div>

                                            <div class="col-md-6">
                                                <label>السعر</label>
                                                <input type="number"
                                                       class="form-control"
                                                       min="1"
                                                       step="0.01"
                                                       v-model.number="state.unitPrice" />
                                                <label class="text-danger">{{ state.errors.unitPrice }}</label>
                                            </div>

                                     @*        <div class="col-md-6">
                                                <label for="Quantity">الكمية</label>
                                                <div ref="quantityRef"></div>
                                                <label class="text-danger">{{ state.errors.quantity }}</label>
                                            </div>

                                            <div class="col-md-6">
                                                <label for="UnitPrice">السعر</label>
                                                <div ref="unitPriceRef"></div>
                                                <label class="text-danger">{{ state.errors.unitPrice }}</label>
                                            </div> *@
                                        </div>
                                        <div class="row mb-2">
                                            <div class="col-md-6">
                                                <label for="OrderStatus">حالة الطلب</label>
                                                <div ref="orderStatusRef"></div>
                                                <label class="text-danger">{{ state.errors.orderStatus }}</label>
                                            </div>
                                        </div>
                                        <div class="row mb-2">
                                            <div class="col-md-12">
                                                <label for="CommitteeDecision">رأي اللجنة</label>
                                                <textarea class="form-control" rows="3" v-model="state.committeeDecision"></textarea>
                                                <label class="text-danger">{{ state.errors.committeeDecision }}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                  
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إغلاق</button>
                    <button type="button"
                            id="MainSaveButton"
                            class="btn"
                            v-bind:class="state.deleteMode ? 'btn-danger' : 'btn-primary'"
                            v-on:click="handler.handleSubmit"
                            v-bind:disabled="state.isSubmitting">
                        <span class="spinner-border spinner-border-sm me-2" v-if="state.isSubmitting" role="status" aria-hidden="true"></span>

                        <span v-if="!state.isSubmitting">
                            {{ state.deleteMode ? 'حذف' : 'حفظ' }}
                        </span>

                        <span v-else>
                            {{ state.deleteMode ? 'جاري الحذف...' : 'جاري الحفظ...' }}
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/FrontEnd/Pages/ItemReturnRequests/ItemReturnRequestsListNew.cshtml.js"></script>
}
