@page
@{
    ViewData["Title"] = "Default Dashboard";
}
<style>
    .container-fluid{
        direction: ltr;
    }

    .d-flex.align-items-center.justify-content-between.mb-4, .e-lib.e-grid.e-control.e-gridhover.e-responsive.e-default.e-droppable.e-horizontallines.e-tooltip.e-keyboard {
        direction: rtl;
    }
</style>
<div id="app" v-cloak>
    <div class="form-card" id="formcard">
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-white rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fas fa-chart-line fa-3x" style="color: #E94649;"></i>
                        <div class="ms-3">
                            <p class="mb-2">أذونات الصرف</p>
                            <h6 class="mb-0 text-end"><span ref="cardSalesQtyRef"></span> كمية.</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-white rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fas fa-undo-alt fa-3x" style="color: #F6B53F;"></i>
                        <div class="ms-3">
                            <p class="mb-2">مرتجع أذونات الصرف.</p>
                            <h6 class="mb-0 text-end"><span ref="cardSalesReturnQtyRef"></span> كمية.</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-white rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fas fa-shopping-cart fa-3x text-primary"></i>
                        <div class="ms-3">
                            <p class="mb-2">شراء</p>
                            <h6 class="mb-0 text-end"><span ref="cardPurchaseQtyRef"></span> كمية.</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-white rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fas fa-undo fa-3x" style="color: #C4C24A;"></i>
                        <div class="ms-3">
                            <p class="mb-2">مرنجع شراء.</p>
                            <h6 class="mb-0 text-end"><span ref="cardPurchaseReturnQtyRef"></span> كمية.</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-white rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fas fa-truck fa-3x" style="color: #C4C24A;"></i>
                        <div class="ms-3">
                            <p class="mb-2"> أمر تسليم</p>
                            <h6 class="mb-0 text-end"><span ref="cardDeliveryOrderQtyRef"></span> كمية.</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-white rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fas fa-boxes fa-3x text-primary"></i>
                        <div class="ms-3">
                            <p class="mb-2">تسليم جيد</p>
                            <h6 class="mb-0 text-end"><span ref="cardGoodsReceiveQtyRef"></span> كمية.</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-white rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fas fa-sign-out-alt fa-3x" style="color: #F6B53F;"></i>
                        <div class="ms-3">
                            <p class="mb-2">نقل للخارج</p>
                            <h6 class="mb-0 text-end"><span ref="cardTransferOutQtyRef"></span> كمية.</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-white rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fas fa-sign-in-alt fa-3x" style="color: #E94649"></i>
                        <div class="ms-3">
                            <p class="mb-2">نقل للداخل</p>
                            <h6 class="mb-0 text-end"><span ref="cardTransferInQtyRef"></span> كمية.</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-12 col-xl-6">
                    <div class="bg-white text-center rounded p-4">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <h6 class="mb-0">الادارة</h6>
                            <a href="/SalesReports/SalesReportList">أذونات الصرف</a>
                        </div>
                        <div ref="customerGroupChartRef" align="center"></div>
                    </div>
                </div>
                <div class="col-sm-12 col-xl-6">
                    <div class="bg-white text-center rounded p-4">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <h6 class="mb-0">البائعين </h6>
                            <a href="/PurchaseReports/PurchaseReportList">التوريدات</a>
                        </div>
                        <div ref="vendorGroupChartRef" align="center"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-12 col-xl-6">
                    <div class="bg-white text-center rounded p-4">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <h6 class="mb-0"> الادارات</h6>
                            <a href="/SalesReports/SalesReportList">أذونات الصرف</a>
                        </div>
                        <div ref="customerCategoryChartRef" align="center"></div>
                    </div>
                </div>
                <div class="col-sm-12 col-xl-6">
                    <div class="bg-white text-center rounded p-4">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <h6 class="mb-0"> البائعين</h6>
                            <a href="/PurchaseReports/PurchaseReportList">التوريدات </a>
                        </div>
                        <div ref="vendorCategoryChartRef" align="center"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-12 col-xl-6">
                    <div class="bg-white text-center rounded p-4">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <h6 class="mb-0">أحدث أذونات الصرف</h6>
                            <a href="/SalesOrders/SalesOrderList">أذونات الصرف</a>
                        </div>
                        <div ref="salesOrderGridRef" align="center"></div>
                    </div>
                </div>
                <div class="col-sm-12 col-xl-6">
                    <div class="bg-white text-center rounded p-4">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <h6 class="mb-0">أحدث التوريدات</h6>
                            <a href="/PurchaseOrders/PurchaseOrderList">توريدات</a>
                        </div>
                        <div ref="purchaseOrderGridRef" align="center"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-12 col-xl-12">
                    <div class="bg-white text-center rounded p-4">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <h6 class="mb-0">جرد المخازن</h6>
                            <a href="/StockReports/StockReportList">مخازن</a>
                        </div>
                        <div ref="stockChartRef" align="center"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4 mb-4">
                <div class="col-sm-12 col-xl-12">
                    <div class="bg-white text-center rounded p-4">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <h6 class="mb-0">حركة المخزون</h6>
                            <a href="/TransactionReports/TransactionReportList">المخزون</a>
                        </div>
                        <div ref="inventoryTransactionGridRef" align="center"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/FrontEnd/Pages/Dashboards/DefaultDashboard.cshtml.js"></script>
}