@page
@{
    ViewData["Title"] = "قائمة تقارير المشتريات"; // تم التعريب
}
<h3 class="title">تقارير المشتريات</h3>
<div id="app" v-cloak>
    <div class="row">
        <div class="col-12">
            <div class="grid-container">
                <div ref="mainGridRef"></div> <!-- سيملأه Grid باللغة العربية -->
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/FrontEnd/Pages/PurchaseReports/PurchaseReportList.cshtml.js"></script>
}
