@page
@{
    ViewData["Title"] = "تسجيل الدخول";
}
<link href="~/adminlte/css/login-style.css" rel="stylesheet" />



<div id="app" v-cloak>
    <div class="card1"></div>
    <div class="card1">
        <h1 class="title">تسجيل دخول</h1>
        <form v-on:submit.prevent="handleSubmit">
            <div class="input-container">
                <input id="Email"
                         name="Email"
                         type="email"
                         placeholder="name@example.com"
                         v-model="state.email"
                         v-on:input="state.errors.email = ''" />
                <label v-if="state.errors.email" class="text-danger">{{ state.errors.email }}</label>
                <div class="bar"></div>
            </div>
            <div class="input-container">
                <input id="Password"
                       name="Password"
                       type="password"
                       placeholder="Password"
                       v-model="state.password"
                       v-on:input="state.errors.password = ''" />
                <label v-if="state.errors.password" class="text-danger">{{ state.errors.password }}</label>
                <div class="bar"></div>
            </div>

            <div class="button-container">
                <button type="submit"
                        v-bind:disabled="state.isSubmitting"
                        class="btn btn-primary btn-block">
                    <span class="spinner-border spinner-border-sm me-2"
                          v-if="state.isSubmitting"
                          role="status"
                          aria-hidden="true"></span>
                    <span>{{ state.isSubmitting ? '...' : 'تسجيل دخول' }}</span>
                </button>
            </div>
           
        </form>
    </div>
    <div class="card alt">
        <div class="toggle"><span class="pencil">✏️</span></div>
      
     
    </div>
</div>


@section scripts {
    <script type ="module" src="~/FrontEnd/Pages/Accounts/Login.cshtml.js"></script>
}