@page
@{
    ViewData["Title"] = "فحص البضائع PDF";
}
<style>
    body {
        direction: rtl;
        font-family: "Times New Roman", serif;
        background: #f5fI5F5;
    }

    #content, #content * {
        direction: rtl !important;
        text-align: right;
        font-size: 19px;
    }

    .print-area {
        width: 210mm;
        min-height: 297mm;
        background: #fff;
        padding: 10mm;
        margin: auto;
        border: 1px solid #000;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        font-size: 14px;
    }

    td, th {
        border: 1px solid #000;
        padding: 6px;
        vertical-align: middle;
    }

    .no-border td {
        border: none;
    }

    .center {
        text-align: center !important;
    }

    .bold {
        font-weight: bold;
    }

    .title {
        font-size: 20px;
        text-decoration: underline;
        margin: 5px 0;
    }

    .section {
        margin-top: 10px;
        font-size: 14px;
        line-height: 1.9;
    }

   

    @@media print {
        .no-print {
            display: none;
        }
    }
</style>
<div id="app">

    <div class="no-print text-center mb-3">
        <!-- زر خارج الطباعة -->
        <button v-on:click="handler.downloadPDF" class="pdf-btn btn btn-danger">
            تحميل PDF
        </button>
    </div>
  
    <!-- محتوى الـ PDF فقط -->
    <div id="content">

        <!-- الصفحة الأولى -->
        <section class="print-area">

            <div class="row">
                <div class="col-md-6">
                    <span style="color:#000;font-weight:bold;">
                        اسم الجهة: كلية الزراعة - جامعة الزقازيق
                </span></div>
                <div class="col-md-6 center">
                    <span style="color:#000;font-weight:bold;">
                        نموذج رقم (12)
                    </span>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12 ">
                    <h2 style="text-align:center;font-size:30px;text-decoration:underline;">محضر لجنة الفحص</h2>
                </div>
            </div>
          

            <p style="text-align:right"  class="text">
                اليوم ..............
                الموافق....../......./..........
               
                اجتمعت لجنة الفحص المشكلة بالقرار رقم
                (<strong>{{ state.committeeDesionNumber }}</strong>)
                الصادر بتاريخ <strong>{{ state.commiteeDate }} </strong>

                <strong style="margin-right:3px;">برئاسة السيد / {{ chairman.employeePositionName }}  </strong>
                {{ chairman.employeeName }}

            </p>

          

            <br />
            <p style="text-align:right"><strong>وعضوية كل من:</strong></p>
            <br />
            <div class="row">
                <div class="col-md-6" v-for="(member,index) in members" :key="index">
                    <span style="color:#000;font-weight:bold;"> السيد / </span>
                    {{ member.employeeName }}
                </div>
                <div class="col-md-6" v-for="(member,index) in members" :key="index">
                    <span style="color:#000;font-weight:bold;"> الوظيفة / </span>
                    {{ member.employeePositionName }}
                </div>
            </div>

            @* <div class="committee">
                <p v-for="(member,index) in members" :key="index">
                    السيد / {{ member.employeeName }}
                    — الوظيفة: {{ member.employeePositionName }}
                </p>
            </div>
 *@

            


          @*   <p class="paragraph">
                وقد قامت اللجنة بفحص الأصناف المدرجة في ظهره بالنسبة المئوية ووفقا لما أرتائه من القبول او الرفض والاسباب المبينة قرين كل صنف وذلك علي مقتضي امر التوريد الصادر الي ......... برقم () بتاريخ ..... وبالمواصفات المنصوص عليها بكراسة الشروط والمواصفات والعقد المبرم مع المورد وبحضور / وعدم حضور المورد او مندوبه .
            </p> *@
            <p class="paragraph">
                وقد قامت اللجنة بفحص الأصناف المدرجة طبقًا
                لأمر التوريد الصادر إلى
                <strong>{{ state.vendorName }}</strong>
                برقم
                <strong>{{ state.purchaseOrderNumber }}</strong>
                بتاريخ
                <strong>{{ state.purchaseOrderDate }}</strong>
                وبالمواصفات المنصوص عليها بكراسة الشروط
                والمواصفات والعقد المبرم مع المورد
                وبحضور / عدم حضور المورد أو مندوبه.
            </p>

           @*  <div class="signatures">
                <div>
                    <strong>رئيس اللجنة</strong><br>
                    الاسم: .................................<br>
                    التوقيع: ...............................
                </div>
                <div>
                    <strong>عضو اللجنة</strong><br>
                    الاسم: .................................<br>
                    التوقيع: ...............................
                </div>
            </div> *@

        </section>
        <br />
        <!-- الصفحة الثانية -->
        <section class="print-area">

            <table class="inspection-table">
                <thead>
                    <tr>
                        <th>اسم الصنف ومواصفاته</th>
                        <th>عدد أو مقدار</th>
                        <th>الوحدة</th>
                        <th>نسبة المئوية لمقادير الفحص</th>
                        <th>مقبول</th>
                        <th>مرفوض</th>
                        <th>اسباب القبول والرفض</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item,index) in state.mappedItems" :key="index">
                        <td>
                            <strong>{{ item.product }}</strong>
                            <br />
                            <span>{{ item.description }}</span>
                        </td>

                        <td>{{ item.qty }}</td>
                        <td>{{ item.unit }}</td>
                        <td>{{ item.matchPercent }}</td>
                        <td class="check">{{ item.accepted ? '✔' : '' }}</td>
                        <td class="check">{{ item.rejected ? '✔' : '' }}</td>
                        <td>{{ item.reason }}</td>
                    </tr>
                </tbody>
            </table>

            <br />
            <div class="row">
                <div class="col-md-4 center">
                    <span style="color:#000;font-weight:bold;">لجنة الفحص</span>
                </div>
                <div class="col-md-4 center">
                    <span style="color:#000;font-weight:bold;">رئيس لجنة الفحص</span>

                    <span style="color:#000;font-weight:bold;"> الاسم:...............</span>
                    <span style="color:#000;font-weight:bold;"> التوقيع:.................</span>
                </div>
                <div class="col-md-4 center">
                    <span style="color:#000;font-weight:bold;">  اعتماد السلطة المختصة</span>
                    <span style="color:#000;font-weight:bold;"> الاسم:...............</span>
                    <span style="color:#000;font-weight:bold;"> التوقيع:.................</span>
                </div>
            </div>

        </section>

    </div>

  


</div>


@section scripts {
    <script src="~/FrontEnd/Pages/GoodsExamine/GoodsExaminePdf.cshtml.js"></script>
}
