@page
@{
    ViewData["Title"] = "قائمة فحص البضائع";
}

<div id="app" v-cloak>
    <div class="row">
        <div class="col-12">
            <div class="grid-container">
                <div ref="mainGridRef"></div>
            </div>
        </div>
    </div>

    <div class="modal fade" ref="mainModalRef" id="MainModal" aria-hidden="true" tabindex="-1" data-bs-focus="false" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ state.mainTitle }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="إغلاق"></button>
                </div>

                <div class="modal-body">
                    <input type="hidden" v-model="state.id" id="Id" name="Id" />
                    <form>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>المعلومات الأساسية</h5>
                                    </div>

                                    <div class="card-body">
                                        <div class="row mb-2">
                                            <div class="col-md-6">
                                                <label for="examineDate">تاريخ الفحص</label>
                                                <input ref="examineDateRef" />

                                                

                                                <label class="text-danger">{{ state.errors.examineDate }}</label>
                                            </div>

                                            <div class="col-md-6">
                                                <label for="Number">الرقم</label>
                                                <input ref="numberRef" v-model="state.number" readonly>
                                            </div>
                                        </div>

                                        <div class="row mb-2">
                                            <div class="col-md-6">
                                                <label for="PurchaseOrderId">أمر التوريد</label>
                                                <div ref="purchaseOrderIdRef"></div>
                                                <label class="text-danger">{{ state.errors.purchaseOrderId }}</label>
                                            </div>

                                            <div class="col-md-6">
                                                <label for="Status">الحالة</label>
                                                <div ref="statusRef"></div>
                                                <label class="text-danger">{{ state.errors.status }}</label>
                                            </div>
                                        </div>
                                        <div class="row mb-2">
                                            <div class="col-md-6">
                                                <label for="CommitteeDesionNumber"> رقم قرار اللجنه</label>
                                                <input ref="committeeDesionNumberRef" v-model="state.committeeDesionNumber" class="form-control" />
                                                <label class="text-danger">{{ state.errors.committeeDesionNumber }}</label>
                                            </div>

                                            <div class="col-md-6">
                                                <label for="CommiteeDate">تاريخ اللجنه</label>
                                                <input ref="commiteeDateRef" type="date" v-model="state.commiteeDate" class="form-control" />

                                                
                                                <label class="text-danger">{{ state.errors.commiteeDate }}</label>
                                            </div>
                                        </div>
                                        <div class="row mb-2">
                                            <div class="col-md-12">
                                                <label for="Description">الوصف</label>
                                                <textarea class="form-control" rows="3" v-model="state.description"></textarea>
                                                <label class="text-danger">{{ state.errors.description }}</label>
                                            </div>
                                        </div>
                                        <div class="card-body">

                                            <div v-for="(member, index) in state.committeeList.filter(m => !m.isDeleted)"
                                                 :key="member.tempId"
                                                 class="border p-3 mb-3">


                                                <input type="hidden" v-model="member.id"  />
                                                <div class="row mb-2">
                                                    <div class="col-md-6">
                                                        <label>اسم الموظف</label>
                                                        <input class="form-control" v-model="member.employeeName">
                                                    </div>

                                                    <div class="col-md-6">
                                                        <label>الوظيفة</label>
                                                        <input class="form-control" v-model="member.employeePositionName">
                                                    </div>
                                                </div>

                                                <div class="row mb-2">
                                                    <div class="col-md-6">
                                                        <label>نوع الموظف</label>
                                                        <select class="form-select" v-model="member.employeeType">
                                                            <option :value="true">رئيس</option>
                                                            <option :value="false">عضو</option>
                                                        </select>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <label>ملاحظات</label>
                                                        <textarea class="form-control" v-model="member.description"></textarea>
                                                    </div>
                                                </div>
                                                <button type="button"
                                                        class="btn btn-danger btn-sm"
                                                        v-if="state.committeeList.length > 1"
                                                        v-on:click ="removeCommitteeMember(index)">
                                                    حذف العضو
                                                </button>

                                            </div>

                                            <button type="button"
                                                    class="btn btn-success btn-sm"
                                                    v-on:click ="addCommitteeMember">
                                                إضافة عضو
                                            </button>

                                        </div>



                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div id="ComplexDiv" :style="{ display: state.showComplexDiv ? 'block' : 'none' }">
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>تفاصيل المنتجات المستلمة</h5>
                                    </div>

                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="grid-container">
                                                    <div ref="secondaryGridRef"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col-md-12">
                                <div class="card shadow-sm">
                                    <div class="card-header text-white">
                                        <h5 class="mb-0">الملخص</h5>
                                    </div>

                            

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إغلاق</button>

           

                    <button type="button"
                            id="MainSaveButton"
                            class="btn"
                            :class="state.deleteMode ? 'btn-danger' : 'btn-primary'"
                            v-on:click="handler.handleSubmit"
                            :disabled="state.isSubmitting">

                        <span class="spinner-border spinner-border-sm me-2"
                              v-if="state.isSubmitting"></span>

                        <span v-if="!state.isSubmitting">
                            {{ state.deleteMode ? 'حذف' : 'حفظ' }}
                        </span>
                        <span v-else>
                            {{ state.deleteMode ? 'جاري الحذف...' : 'جاري الحفظ...' }}
                        </span>
                    </button>

                </div>

            </div>
        </div>
    </div>

</div>

@section scripts {
    <script src="~/FrontEnd/Pages/GoodsExamine/GoodsExamineList.cshtml.js"></script>
}
